beautifulsoup4==4.8.1
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
Django==2.2.18
google==2.0.2
google-api-core==1.14.3
google-auth==1.6.3
google-cloud==0.34.0
google-cloud-bigtable==1.1.0
google-cloud-core==1.0.3
google-cloud-happybase==0.33.0
google-cloud-language==1.3.0
google-cloud-storage==1.20.0
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
grpc-google-iam-v1==0.12.3
grpcio==1.24.3
gunicorn==19.9.0
idna==2.8
igramscraper==0.3.2
instagram-scraper==1.7.1
protobuf==3.10.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
python-slugify==3.0.2
pytz==2019.3
requests==2.21.0
rsa==4.0
six==1.12.0
soupsieve==1.9.4
sqlparse==0.3.0
text-unidecode==1.2
tqdm==4.36.1
urllib3==1.24.3
